@inherits RazorSliceHttpResult<string>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hello from Razor Slices!</title>
</head>

<body>
    <partial name="Hello" model="DateTime.Now">
</body>

</html>