<div class="h-full transition-all hover:w-64 w-16">
    <ul class="flex flex-col ">
        <li class="p-2 hover:bg-green-700 transition cursor-pointer" hx-get="/" hx-target="#route-container">Home</li>
        <li class="p-2 hover:bg-green-700 transition cursor-pointer" hx-get="/admin" hx-target="#route-container">Admin
        </li>
        <li class="p-2 hover:bg-green-700 transition cursor-pointer" hx-get="/about" hx-target="#route-container">About
        </li>
        @* <li hx-get="/">Logout</li> *@
    </ul>
</div>